# editorconfig

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# eclint
block_comment_start = /**
block_comment = *
block_comment_end = */

[*.bat]
end_of_line = crlf

[*.md]
trim_trailing_whitespace = false

[*.twig]
insert_final_newline = false

[*.{yml,yaml}]
indent_size = 2
indent_style = space

[Makefile]
indent_style = tab
